    <%= image_tag 'san-franc.jpg', :class => "background-image" %>
    <section class="projects">
      <h2 id="project">Projects</h2>
      <a href="https://play.google.com/store/apps/details?id=com.beer_me" target="_blank" >
        <article>
          <div class="type-container">
            <img src="assets/beerme.png" alt="">
          </div>
          <div class="description">
            <h1>BeerMe!</h1>
            <span class="date">
              02.06.2015
            </span><br/>
            <span class="text">
              BeerMe is a mobile app built on a Rails API with and AngularJs frontend. BeerMe searches local bay area bars for their beers on tap and returns beer names, prices, and BeerAdvocate score.
            </span>
          </div>
          <div class="clear"></div>
        </article>
      </a>
      <a href="http://rounderwear.com/" target="_blank" >
        <article>
          <div class="type-container">
            <img src="assets/rounderwear-logo.jpg" alt="">
          </div>
          <div class="description">
            <h1>Rounderwear</h1>
            <span class="date">
              07.20.2014
            </span><br/>
            <span class="text">
              Rounderwear is a multi-lingual designer underwear site. Rounderwear is built on top of a Magento ecommerce
             platform. Using PHP, CSS 3, HTML 5 and jQuery, I overhauled the front and backend to add new
            features and a fresh look for desktop and mobile. 
            </span>
          </div>
          <div class="clear"></div>
        </article>
      </a>
      <a href="http://www.vertigousa.com/" target="_blank" >
        <article>
          <div class="type-container">
            <img src="assets/vert-ref-logo.png" alt="">
          </div>
          <div class="description">
            <h1>VeritgoUSA </h1>
            <span class="date">
             03.15.2014
            </span><br/>
            <span class="text">
              Vertigo USA was built on a 3dcart e-commerce platform with an integrated wordpress blog. Using
              PHP, HTML 5, CSS 3, jQuery, and AJAX, I added a single page shopping experience with a updated look
            </span>
          </div>
          <div class="clear"></div>
        </article>
        <div class="clear"></div>
      </a>
      <a href="http://www.kryptonics.com/" target="_blank" >
        <article>
          <div class="type-container">
            <img src="assets/static1.squarespace.jpg" alt="">
          </div>
          <div class="description">
            <h1>Kryptonics Wheels</h1>
            <span class="date">
              04.20.2014
            </span><br/>
            <span class="text">
              Created C-name records to redirect the name servers to Squarespace. 
            </span>
          </div>
          <div class="clear"></div>
        </article>
      </a>
      <a href="http://thehundreds.com/" target="_blank" >
        <article>
          <div class="type-container">
            <img src="assets/the_hundreds.jpg" alt="">
          </div>
          <div class="description">
            <h1>The Hundreds</h1>
            <span class="date">
            </span><br/>
            <span class="text">
            I handcrafted responsive HTML email templates to keep customers informed about featured stories and new
            products.
            </span>
          </div>
          <div class="clear"></div>
        </article>
      </a>
      <a href="http://enve.com/" target="_blank" >
        <article>
          <div class="type-container">
            <img src="assets/enve-logo.jpg" alt="">
          </div>
          <div class="description">
            <h1>Enve</h1>
            <span class="date">
            </span><br/>
            <span class="text">
              I created a style guide of common elements coupled with design guidelines. To ensure a seamless transition, I
                            set up 301 redirects for outdated links to their proper pages.
            </span>
          </div>
          <div class="clear"></div>
        </article>
      </a>
      <div class="clear"></div>
    </section>
    <div class="clear"></div>
