<section class="blog_content">

    <h2>Fireside Chat</h2>
    <span class="date_posted">Posted On: 09.19.14</span>

    <article>
        <p>
            I did a lot of research on places like DevBootCamp before starting the application process. The topics covered int the video are what initially attracted me to DBC. Their approach seems like it isn’t just about making coders, they want to make well rounded developers who are excited about their work and really contribute to a team environment. I am really excited to jump into the program and push myself to be a better developer and team member. It will be a huge difference from how I code now, but I am looking forward to try a new approach.
        </p>

        <p>
            After the watching the Fireside chat my perception of DBC is about the same. If anything, I am a little more inspired by it. It answered a lot of questions about how things will be once we get to the onsite program. I am excited to really push myself, get into different projects and start pair programing.
        </p>
    </article>
</section>