<section class="blog_content">

    <h2>Compass of Shame</h2>
    <span class="date_posted">Posted On: 11.6.14</span>

    <article>

        <p>
            Usually I don’t have a lot of conflict in my life, I try to not let things affect me unless they are big. If there is any conflict it is usually from miscommunication, which is a huge thing for lots of people. For me one of my first jobs seemed to touch on all of the sources of conflict defined by the University of Oklahoma Human Resources department.
        </p>

        <p>
            There were plenty of times where the bosses would have closed meetings, where they would make changes to things we were building without informing us of the change or setting a workable time frame. The communication only flowed one way and anyone who tried to bring up needing more time would be meet with the “This is the timeframe we promised” excuse. In hindsight a contributing factor to all of this was a scarcity of funds, another source of conflict; which happens in all businesses. All this contributed to a lot of quite frustration and conflict.
        </p>

        <p>
            I was fairly new to the organization and I had seen people try and make changes only to be shot down. The environment did not seem to be receptive to anyone let alone a newbie, so I never really brought up my issues with the management. I didn't really think my actions would change anything so I kept quite for a while and started looking for new jobs, which isn’t a healthy way of doing things,  but it felt like my only option. Not being heard or even feeling fulfilled in the work you are doing is very disheartening so I started trying ways of not dealing with the problem until I had an out. Thankfully after that I was able to find a place that was more receptive to hearing form their workers, but not dealing with the issues lead me to drink more or fall into a funk. In a sense not dealing with my feeling only made things worse.
        </p>

        <p>
            If I could go back and relive the situation, I think I would kind of do the same thing but be a little more vocal about my issues. Looking back I was the main reason I felt that way. If i spoke up and tried to change the situation, things could have gotten better or at least I could leave knowing I tried everything.
        </p>

    </article>
</section>