<section class="blog_content">
    <h2>Pairing So Far</h2>
    <span class="date_posted">Posted On: 09.13.14</span>
    <article>

        <p>
            My experience with coding so far has been largely on my own. The classes that I have taken before had elements of paring and feedback, but not to this extent. So the process so far has been kind of unnerving. I am finding that I don’t like to be unprepared for the challenges so I will take a peek at them before hand, and try to work through before hand, which probably isn't
            the best way to pair.  Although so far everyone has been really easy to work with and I am starting to enjoy working through a problem with someone.
        </p>

        <p>
            The feedback portion of DBC, at times, can be a little strange for me. I am not used to getting feedback and sometimes I have to wait until I am in the right mindset to read them. A lot of the input I am getting back is stuff I know I needed to work on. I usually have a hard time explaining things that make sense in my head, which is something I am trying to work on, but sometimes the stress of pairing kind inhibits me.
        </p>

        <p>
            Giving feedback is another new thing for me. I typically don’t like to critique people so coming up with things that I think are actionable is kind of difficult. Everything I usually think of is just practicing, but it seems like poor advice seeing that it is what we are already doing. Plus this is really new to some people and I don’t want to discourage them.
        </p>

        <p>
            Overall I would say that all of this has been a positive experience, a little uncomfortable but positive. Growth is always uncomfortable, but rewarding.
        </p>

    </article>
</section>