<section class="blog_content">

    <h2>Self-knowledge</h2>
    <span class="date_posted">Posted On: 11.2.14</span>

    <article>

        <p>
            The values that come to mind when I am at my happiest are:
        </p>

        <ul>

            <li>Creativity</li>
            <li>Meaningful Work</li>
            <li>Adventure</li>
            <li>Achievement</li>
            <li>Friendships</li>
            <li>challenge</li>
            <li>Self-knowledge</li>
            <li>Will-power</li>

        </ul>

        <p>
            Probably the most important one for me has always been self-knowledge. It has been something at the forefront of my mind since I can remember. I have always thought that through knowing yourself and what you are capable of can shape everything in your life. This concept has gained a little more importance over the past few weeks with all the blogs we have been reading on stereotype-threat. Once you have a good idea of who you are and how think you can recognize when doubt starts to creep in and how to stop it before it affects you.
        </p>

        <ul>

            <li>Creativity: 4</li>
            <li>Meaningful Work: 2</li>
            <li>Adventure: 2</li>
            <li>Achievement: 4</li>
            <li>Friendships: 5</li>
            <li>challenge: 4</li>
            <li>Self-knowledge: 4</li>
            <li>Will-power: 5</li>

        </ul>

        <p>
            I am genearlly the sounding board for a lot of issues, but the last one was about not feeling challenged or valued at work. My friend really loved the field they were in, but the situation was kind of boring and safe. There was no room for advancement or interesting projects to work on.
        </p>

        <p>
            I think the above values could be beneficial in every situation, not just in combating stereotype threat.  Kind of like what I touched on above, knowing yourself allows you to really focus on why certain things are affecting you and what you can do to either deal with the situation or avoid it. Lately I have been trying to implement a few ways of dealing with stereotype threat at work or in my personal life. I have taken to getting up and walking to the kitchen for a water break, just to take my mind off the task. When I get back to my desk or laptop, I take a minute or two to clear my mind and refocus on the task. It has helped out immensely so far.
        </p>

    </article>
</section>