<section class="blog_content">

    <h2>Ruby Docs v. JavaScript Docs</h2>
    <span class="date_posted">Posted On: 10.31.14</span>

    <article>

        <p>
            As we have seen in the last week, JavaScript and Ruby have a lot of similarities. While Ruby may have more powerful built in methods, the logic behind them is similar to JavaScript. Where I think the biggest difference lies is in the documentation. In my opinion it seems like Ruby docs are more user friendly and examples are laid out in a fairly logical manor.
        </p>

        <p>
            Ruby docs seem to be a little more thought out and more helpful for a developer looking for a solution. When I am looking for a ruby method to handle a specific task the corresponding pages in the ruby doc offers a lot of similar examples and even links to other methods in the same family.  From the look and feel of the documentation for Ruby, it seems as if the creators wanted to build a site that is very user friendly and got users to the info they are looking for quickly.
        </p>

        <p>
            It is kind of interesting that for the past year I have been working with JavaScript I have never really turned to their documentation to find an answer. My searches have always taken me to stack overflow or w3schools. After looking at the documentation set up for JavaScript, I am kind of glad I haven’t spent time trying to find a topic in the documentation. Don’t get me wrong, it is still a valuable resource, but for me it doesn’t seem to be as good as w3 or even stack overflow.
        </p>

        <p>
            Both languages’ documentation provide valuable information about the language you are working with, but Ruby’s , for me, stands head and shoulders above JavaScripts. After this weeks exercises I don’t really see myself turning to Mozilla Developer Network as a first or second option.
        </p>
    </article>
</section>