<section class="blog_content">

    <h2>Sterotype Threat</h2>
    <span class="date_posted">Posted On: 10.26.14</span>

    <article>
        <p>
            Looking back on my past experiences, I don’t believe I have really experienced the text book definition of stereotype threat.  Maybe me being a white male may have contributed to that. As far as I can remember, when I get frustrated on test or at work, I have never contributed it to be a result of my gender or ethnicity. For me when frustration sets in, everything turns personal. For instance, on particularly difficult exams in college I started to feel like I didn’t belong and that they would kick me out. Growing up I had been aware of the concept but I never really been affected by it.
        </p>

        <p>
            It is kinda interesting to see the triggers, and what to do about them. In the future I can use this knowledge to recognize the feeling and take a step back to reassure myself or others that this is just a snag and it isn’t representative of them not belonging. Taking the time to reassure people about their skills seems to be a great motivator, which Dr. Steele helped to reveal.
        </p>
    </article>
</section>