<section class="blog_content">
    <h2>NoSQL</h2>
    <span class="date_posted">Posted On: 11.06.14</span>

    <article>
        <p>
            NoSQL databases are  a huge topic in application development circles. The industry standard relational database was built when applications had very few users and when computer memory was a hugely limiting factor. This model has been strained immensely under the pressures of big data and big users, which stretches a relational database to the breaking point. In order to combat this, companies have come up with highly scalable databases to handle the tremendous traffic that comes from the web today.
        </p>

        <p>
            Under the strain of millions of unique users web applications can spin up a new commodity server to spread the traffic among multiple servers and maintain a relatively solid user experience; however, when database gets hit by the increase in traffic, adding a new server isn't  that simple of an option. When this happens to a relational database, a bigger more expensive server is required. Adding larger and larger database servers becomes very costly, very quickly and still has the potentially dangerous single point of failure. If any thing happens to that server, the whole application fails, and data has to be reuploaded from the last backup.
        </p>

        <p>
            This is where NoSQL databases really start to shine. They have been rebuilt from the ground up to handle the ebb and flow of todays internet. These databases spread themselves across multiple server layers. They can add or remove a server with out affecting the application and still maintain the integrity of the data.
        </p>

        <p>
            Not only are NoSQL databases able to handle the immense traffic, but they allow for easier updates to the db. In a relational database, to add new fields and collect more and more data, the database needs to be taken off line and updated, tested and reloaded. The NoSQL db allows for new information to be gathered in real time, when new data is needed it can simply be added one of the production db servers and worked into the rest of the server layer without needing any down time.
        </p>

        <p>
            NoSQL databases offer an amazing solution to the ever expanding demand the internet has on modern day web applications. It allows developers to scale an application as necessary and still maintain the integrity of the user experience.
    </p>
    </article>
</section>