<section class="blog_content">

  <h2>Issues in Technology</h2>
  <span class="date_posted">Posted On: 09.13.14</span>

  <article>

      <p>
          The tech industy is facing some big issues in the comming year. Issues with diversity and tech becoming more about discretionary income rather than being funded by large corporations. All of these are big issues, but in my opinion the generation gap among developers poses the biggest issue.

      </p>

      <p>

          Colleges of today are graduating fewer and fewer numbers of engineers and programers who understand the systems and code we rely on, on a daily basis. Every year more and more computer engineers reach retirement age and the positions are going unfulfilled. While there are many talented people seeking citizenship or work visas in technologically advanced countries, they are being turned away because of a lack of visa’s available to them.

      </p>

      <p>
          There is still a glimmer of hope for the future, schools like DBC, that focus on real world development and other e-resources are starting to graduate students who have a high-level understanding of today’s technology. This approach teamed with a more active involvement in legislation in the arena of visas and education would allow the tech industry to continue on.
      </p>
    </article>
</section>