<section class="blog_content">

    <h2>Meta-thinking</h2>
    <span class="date_posted">Posted On: 10.05.14</span>

   <article>

       <p>
           According to thelearningweb.com, I am almost evenly distributed between all the categories; however, I lean a little bit more toward Concrete Sequential and Concrete Random. I have been aware of my learning style for a while now, so it is something I am conscious of. So far it has been really benificial for me to set up little proof of concepts to learn new ways of approaching a problem. I usually implement this by diving into a challenge and trying to manipulate data until I get a desired result.
       </p>

       <p>
           While my learning style tends to fit well with a growth-mindset. By actually diving into topics and trying to make a solution work, I tend to get a good idea of how things function. I tend to think of things that didn't work as a learning opportunity, where I can try and figure out what went wrong or needs to happen to get everything workin. This style of learning seems to have worked well for me so far, I constatly look for a better way to approach an issue.
       </p>
       <p>
           For the past few months I have been trying to take a step back from my initial process and really think about a challenge. I am looking to push out more into the abstract thinking to set up an approach in my head before going to the code. By taking that extra bit of time in the beginning, I hope to save a little bit of dev time and build a better working knowledge of the languages I work with.
       </p>


    </article>
</section>